<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="stackConfig" name="JGroups Stack Configuration" schema="schema/stackConfig.exsd"/>

   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.jgroups.identity.JGroupsNamespace"
            description="JavaGroups Namespace"
            name="ecf.namespace.jgroupsid">
      </namespace>
   </extension>

   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.internal.provider.jgroups.JGroupsClientContainerInstantiator"
            description="JavaGroups Client"
            name="ecf.jgroups.client">
      </containerFactory>
   </extension>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.internal.provider.jgroups.JGroupsManagerContainerInstantiator"
            description="JavaGroups Manager"
            name="ecf.jgroups.manager" server="true">
      </containerFactory>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.provider.jgroups.container.JGroupsClientContainer"
            class="org.eclipse.ecf.provider.datashare.DatashareContainerAdapterFactory">
         <adapter type="org.eclipse.ecf.datashare.IChannelContainerAdapter"/>
      </factory>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.provider.jgroups.container.JGroupsManagerContainer"
            class="org.eclipse.ecf.provider.datashare.DatashareContainerAdapterFactory">
         <adapter type="org.eclipse.ecf.datashare.IChannelContainerAdapter"/>
      </factory>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.provider.jgroups.container.JGroupsClientContainer"
            class="org.eclipse.ecf.provider.remoteservice.generic.RemoteServiceContainerAdapterFactory">
         <adapter type="org.eclipse.ecf.remoteservice.IRemoteServiceContainerAdapter"/>
      </factory>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.provider.jgroups.container.JGroupsManagerContainer"
            class="org.eclipse.ecf.provider.remoteservice.generic.RemoteServiceContainerAdapterFactory">
         <adapter type="org.eclipse.ecf.remoteservice.IRemoteServiceContainerAdapter"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ecf.provider.jgroups.stackConfig">
      <stackConfig
            configFile="stacks/defaultStacks.xml"
            id="org.eclipse.ecf.provider.jgroups.default">
      </stackConfig>
      <stackConfig
            configFile="defaultStacks.xml"
            id="encrypt">
      </stackConfig>
   </extension>

</plugin>
